* {
    margin: 0;
    padding: 0;

}

/* body{

    background-image: url(../images/fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

} */

#btn-mas {
    display: none;
}

.container1 {
    position: fixed;
    bottom: 10%;
    right: 20px;
    text-align: -webkit-right;

}

.redes a,
.btn-mas label {
    /*  display: block;
    text-decoration: none;
    background: #91d317;
    color: #fff;
    width: 60px;
    margin-bottom: 10% !important;
    height: 60px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    font-size: 10px; */
    font-size: 10px;
    display: block;
    text-decoration: none;
    background: #a7cb68;

    color: #fff;
    width: 57px;
    height: 57px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes a:hover {
    background: #fff;
    color: #a7cb68;
}

.redes a {
    /*   margin-bottom: -15px;
    opacity: 0;
    visibility: hidden; */
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~.redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-mas label {
    cursor: pointer;
    background: #a7cb68;
    font-size: 23px;
 
}

#btn-mas:checked~.btn-mas label {
    transform: rotate(180deg);
    font-size: 25px;
}




#btn-mas2 {
    display: none;
}

.container2 {
    position: fixed;
    top: 10%;
    left: 2%;
}

.redes2 a,
.btn-mas2 label {
    font-size: 10px;
    display: block;
    text-decoration: none;
    background: #ff9800;
    color: #fff;
    width: 57px;
    height: 57px;
    margin-top: 10px !important;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes2 a:hover {
    background: #fff;
    color: #ff9800;
}

.redes2 a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas2.btn-mas2~.redes2 a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-mas2 label {
    cursor: pointer;
    background: #ff9800;
    font-size: 23px;
}

#btn-mas2:checked~.btn-mas2 label {
    transform: rotate(180deg);
    font-size: 25px;
}

#btn-mas2:checked~.redes2 a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}