* {
    margin: 0;
    padding: 0;

}



.container {
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: center;

}




.image {

    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image img {

    width: 100%;

    height: 100%;

}


.navbar-light {
    align-items: center;
    justify-content: space-between;
    background: #f69100;
    font-size: large;

}


.offcanvas-header {
    font-size: large;
    background: #f69100 !important;

}

.boton {
    color: white;
}

.botonClose {
    color: #ffffff;
}



.offcanvas-title {
    color: #ffffff;
    font-size: x-large;
}

.nav-link {
    color: #f69100 !important;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: large;
}

.sub-nav {
    color: #f69100 !important;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: medium;

}


.nav-tab {
    color: #000000 !important;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}


.navbar-brand {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-weight: bolder;
}



.dropdown-menu {
    border-color: transparent !important;
}

h2,
.h2 {
    color: rgb(0, 0, 0);

}

.h3,
h3 {
    color: #f8deb9
}


.h4,
h4 {
    color: #f69100;
    font-weight: normal;
}


h5,
.h5 {
    color: #f69100;

}


h6,
.h6 {
    color: rgb(0, 0, 0);

}


.table-warning {
    --bs-table-bg: #f8deb9 !important;
}

.table>tbody {
    text-align: left !important;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 50%;
    left: 5px;
    height: 1em;
    width: 1em;
    margin-top: -9px;
    display: block;
    position: absolute;
    color: white;
    border: 0.15em solid white;
    border-radius: 1em;
    box-shadow: 0 0 0.2em #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 1em;
    content: "+";
    background-color: #f69100 !important;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: "-" !important;
    background-color: #d33333 !important;
}

.btn-warning {
    color: #ffffff !important;
    background-color: #f69100 !important;
}

.bg {
    background-color: #f69100 !important;
}



textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: #f69100 !important;
    box-shadow: 0 1px 1px #f69100 inset, 0 0 8px #f69100 !important;
    outline: 0 none;

}

.modal-header {
    background-color: #f69100;

}

.modal-title {
    color: #ffffff !important;

}

.modal-footer {
    background-color: #f69100;

}

.form-check-input:checked {
    background-color: #f69100 !important;
    border-color: #f69100 !important;
}

.contenedor-principal {
    background-image: url(../images/home3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.footer {
    background-color: #f69100;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    height: 5%;
}


/* MEDIA QUERIES */

/* MEDIA QUERIES */
@media screen and (min-width: 200px) and (max-width : 400.55px) {
    .btnAgregarCaprinos {
        margin-top: 55px !important;
    }
}

@media screen and (min-width: 400.56px) {
    .btnAgregarCaprinos {
        margin-top: 35px !important;
    }
}



/* @media (max-width: 767.4px) {
    .btnAgregarCaprinos {
        margin-top: 30px !important;
    }
}

@media (min-width: 767.5px) {
    .btnAgregarCaprinos {
        margin-top: 30px !important;
    }
} */

/* letra de las tablas */
@media (max-width: 500px) and (min-width: 160px) {

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        font-size: 3vw;
    }

}

.page-item.active .page-link {
    background-color: #f69100 !important;
    border-color: #f69100 !important;
}

/* .btn-secondary {
    background-color: #f69100 !important;
    border-color: #6c757d !important;
} */