* {
    margin: 0;
    padding: 0;
}



.container {
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-right: 2%;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}



.image{

width: 85%;
height: 85%;
margin-left: auto;
margin-right: auto;
display: block;
}

.image img {

    width: 100%;
  
    height: 100%;
  
  }
.offcanvas-header{
   
    background: #a20202 !important;

}
.offcanvas-title {
    color: #ffffff ;
    font-size:xx-large;
}

.nav-link {
    color: #a20202 !important;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: large;
    font-weight: bolder;
}

.sub-nav {
    color: #aa3636 !important;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: medium;
  
}


.nav-tab{
    color: #000000 !important;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 50%;
    left: 5px;
    height: 1em;
    width: 1em;
    margin-top: -9px;
    display: block;
    position: absolute;
    color: white;
    border: 0.15em solid white;
    border-radius: 1em;
    box-shadow: 0 0 0.2em #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New",Courier,monospace;
    line-height: 1em;
    content: "+";
    background-color: #a20202 !important;
}
.table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: "-" !important;
    color: #000000;
    background-color: #ffffff !important;
}
.modal-header{
    background-color: #a20202;

}
.modal-title{
    color: #ffffff !important;

}

.modal-footer{
    background-color: #a20202;

}

/* .imagen {
    background-image: url(../images/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
 */


.site-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-section {

    margin: 0px auto;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}

.navbar-light {
    align-items: center;
    justify-content: space-between;
    background: #a20202;
    border-radius: 0px 0px 0px 20px;
}

.navbar-brand {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-weight: bolder;
}
.dropdown-menu{
border-color: transparent !important;
}

h2,
.h2 {
    color: rgb(0, 0, 0);

}
.h3, h3{
color: #a20202
}


.h4, h4 {
    color: #a20202;
}


h5,
.h5 {
    color: #a20202;
    font-size: 1rem !important;
}


h6,
.h6 {
    color: rgb(0, 0, 0);

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: #a20202 !important;
    box-shadow: 0 1px 1px #a20202 inset, 0 0 8px #a20202 !important;
    outline: 0 none;

}



.boton {
    color: white;
}

.botonClose {
    color: #ffffff;
}


.footer {
    background-color: #a20202;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding: 1em 0;
    width: 100%;
    height: 7%;
    border-radius: 0px 20px 0px 0px;
}
/* letra de las tablas */
/* @media (max-width: 500px) and (min-width: 160px) {

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      font-size: 3vw;
    }
    .botongrafico{
    font-size: 0.8rem !important;
    }
  } */

  /* letra de las tablas */
@media (max-width: 600px) and (min-width: 160px) {

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      font-size: 3vw;
    }
    .botongrafico{
    font-size: 0.8rem !important;
    }
  }