/* *{
  font-size:50px !important ;
} */
div.modal-header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-top: 15px !important;
    margin: 0% !important;
}
img.imgtarjeta {
  /*    border: 0px solid darkblue; */
  /*   margin-top: 10px; */
  width: 80px;
  height: 80px;
  border-radius: 25%;
  /* margin-left: 10px !important; */
  padding: 0px !important;

}

.nombre {
  font-size: 18px !important;
  padding: 2% !important;
  margin: 2px !important;
  text-align: center;
  font-weight: 700;
}

.detalleproducto {
  font-size: 12px !important;
/*   line-height: 90% !important; */
  padding: 2px !important;
  margin: 2px !important;
  text-align: justify;
}
/* .container-fluid {
  padding: 0% !important;
  margin: 0% !important;
  align-content: center;
} */
.precioproducto {
    font-size: 15px !important;
  padding: 8px !important;
  text-align: center !important;
  margin: 0% !important;
  font-weight: 700;
 
}


hr {
  margin: 3px !important;
}
.redondo {
/*   display: block; */
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 0px !important;
  margin: 0px !important;
}
.logoE {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 1px!important;
  margin: 1px!important;
}

/* div#tarjetas {
  padding: 0px !important;
} */
/* div.col-2 {
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
}


div.col-7,
div.col-md-6 {
  padding: 5px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
} */

/* div.col-12,
div.col-md-4 {
   padding: 5px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* div.col-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* div.col-5,
div.col-md-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#modal_body {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* div.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% !important;
  padding: 0% !important;
} */
label {
  font-size: 50% !important;
}
.opciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% !important;
  padding: 0% !important;
}
/* .plantilla{

  display: flex;
  flex-direction: row;
} */

/* .modal {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
 */