@media screen and (max-width: 450px) {
  body {
    width: 100%;
  }

  .container_menupopup {
    margin-top: 10%;
  }
}

@media screen and (min-width: 451px) {
  body {
    width: 100%;
  }

  .container_menupopup {
    margin-top: 10%;
  }
}

@media screen and (min-width: 700px) {
  body {
    width: 100%;
  }

  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 200px) and (max-width: 499.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 400px) and (max-width: 559.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 560px) and (max-width: 680.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 681px) and (max-width: 704.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 705px) and (max-width: 713.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 714px) and (max-width: 767.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 768px) and (max-width: 965.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 966px) and (max-width: 1270.99px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

@media (min-width: 1271px) {
  .container_menupopup {
    margin-top: 10%;
  }
}

/* 
@media (min-width: 966px) {
   .container_menupopup {
      margin-top: 32%;
   }
}

@media (min-width: 1200px) {
   .container_menupopup {
      margin-top: 30%;
   }
}

@media (min-width: 1399.98px) {
   .container_menupopup {
      margin-top: 25%;
   }
}

 */

a {
  color: inherit;
}

.menu-item,
.menu-open-button {
  background: transparent;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-left: -40px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

/* .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
 }
 
 .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
 }
 
 .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 
 .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
 }
 
 .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
 }
 
 .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
 }
 
 .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
 }
  */
.menu_popup {
  margin: auto;
  /*    position: absolute; */

  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

.menu-open:checked~.menu-item:nth-child(9) {
  /* #1 */
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

/* .menu-open:checked ~ .menu-item:nth-child(9) {
   
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 } */
.menu-item {
  transition: all 0.1s ease 0s;
}

.menu-item:hover {
  background: #eeeeee;
  color: #3290b1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(10) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(11) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(12) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(13) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(14) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(15) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
  transition-duration: 280ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked~.menu-item:nth-child(9) {
  /* #1 */
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -154.9997px, 0);
}

.menu-open:checked~.menu-item:nth-child(12) {
  /* #2 */
  transition-duration: 290ms;
  -webkit-transition-duration: 290ms;
  -webkit-transform: translate3d(90.9466px, -22.47586px, 0);
  transform: translate3d(75.9466px, -132.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
  /* #3 */
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(135.9466px, -82.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(10) {
  /* #4 */
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(150.9466px, -1.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
  /* #5 */
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(135.9466px, 82.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(13) {
  /* #6 */
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(75.9466px, 132.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
  /* #7 */
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 154.99997px, 0);
}

.menu-open:checked~.menu-item:nth-child(14) {
  /* #8 */
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(-75.9466px, 132.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(7) {
  /* #9 */
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-135.9466px, 82.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(11) {
  /* #10 */
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(-150.9466px, -1.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(8) {
  /* #11 */
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-135.9466px, -82.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(15) {
  /* #12 */
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-75.9466px, -132.47586px, 0);
}

.transparente {
  background-color: transparent;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.transparente:hover {
  color: transparent;
  text-shadow: none;
}

.image {
  width: 90%;
  height: 90%;
}

.logo {
  border-radius: 100%;
  width: 110%;
  height: 100%;
}

.logo2 {
  -webkit-transition: opacity 0.5s 0s ease;
  -moz-transition: opacity 0.5s 0s ease;
  -o-transition: opacity 0.5s 0s ease;
  transition: opacity 0.5s 0s ease;
  border-radius: 100%;
  width: 300%;
  height: 300%;
  position: relative;
  right: 70px;
  bottom: 70px;
}

#tablas {
  background-color: #ffffff;
}

#proveedor {
  padding: 10px;
  /*    margin:10px; */
  text-align: center;
}

.prov_item {
  padding: 10px;
  /*  margin:5px; */
}

#imagen_prov {
  padding: 15px;
}

#imgproveedor {
  height: 150px;
}

#imgproveedorlista {
  height: 50px;
}

.footer_socials {
  padding: 30px;
}

.clear {
  margin-top: 5px;
  padding: 0px;
  text-align: center;
}

.titulo {
  color: #ffffff;
}

@media (max-width: 600px) and (min-width: 160px) {

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    font-size: 3.5vw;
  }
}

/* .footer{
margin-top: 50% !important;

} */

/* ---------------------------------plantilla de presentacion de articulos - diversion */
.publik {
  background-color: rgb(89, 89, 136);
  box-shadow: 1px 1px #000000;
  border-radius: 20px;
 /*  padding: 0%; */
  margin: 5px;
  font-size: 0.8rem;
    
}


.publik-titulo {
  color: #eeeeee;
      text-shadow: 1px 1px #000000;
}

.publik_imagen {

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  margin: 0px;
  /* flex */
  display: flex;
  justify-content:end;
  align-content: center;
  flex-direction:row;
}

.publik_titulo {
/*   background-color: gray; */
  border-radius: 20px;
  /* flex */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: auto;
  font-weight: bolder;
  color: #ffffff;
   font-size: 0.9rem !important;
   text-shadow: 1px 1px #000000;
}

.publik_desc {
 /*  background-color: green; */
  border-radius: 20px;

  /* flex */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 15px;
  color: #eeeeee;
  /*    height: 300px; */
}

.img_publik {
  border-radius: 10px;
/*   object-fit: cover; */
  width: 80px;
  height: 80px;
/* 
    display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row; */

}

.container-prearticulos {
  border-radius: 20px;
  padding: 0%;
}
/* ---------------------------------plantilla de presentacion de articulos - diversion */

.publik_diversion {
  background-color: #319FB2;
  box-shadow: 1px 1px #000000;
  opacity: 0.9;
  border-radius: 20px;
 /*  padding: 0%; */
  margin: 5px;
  font-size: 0.8rem;

}

.publik_titulo_diversion {
/*   background-color: gray; */
  /* flex */
  display: flex;
  justify-content:left;
  align-content:left;
  flex-direction: row;
  padding: auto;
  font-weight: bolder;
  color: #ffffff;
   font-size: 0.9rem !important;
   text-shadow: 1px 1px #000000;
}

.publik_desc_diversion {
/*   background-color: green; */
  /* flex */
  display: flex;
  justify-content:left;
  align-content:left;
  flex-direction: row;
/*   padding: 15px; */
  color: #eeeeee;
  /*    height: 300px; */
}
.publik_container_diversion{
   display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;
  text-shadow: 1px 1px #000000;
}


/* ---------------------------------plantilla de presentacion de articulos - cultural */
.publik_cultural {
  background-color: rgb(214, 200, 42);
  box-shadow: 1px 1px #393939;
  opacity: 0.9;
  border-radius: 20px;
  margin: 5px;
  font-size: 0.8rem;
  text-shadow: 1px 1px #000000;

}


.publik_imagen_cultural {

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  margin: 0px;
  /* flex */
  display: flex;
  justify-content:center;
  align-content: center;
  flex-direction:row;

}


/* ---------------------------------plantilla de presentacion de articulos - setvicios */
.img_publik_serv{
  border-radius: 50px;
  width: 70px;
  height: 70px;
}
.publik_imagen_serv{
   border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  margin: 0px;
  /* flex */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:row;
}
.publik_desc_serv {
 /*  background-color: green; */
  border-radius: 20px;
  /* flex */
  display: flex;
  justify-content: right;
  align-content: right;
  flex-direction: row;
  padding: 10px;
  color: #eeeeee;
  text-shadow: 1px 1px #000000;

}
.container_servicios{
  padding: 0%;
  margin: 0%;
   display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
    text-shadow: 1px 1px #000000;
}
.publik_serv {
  background-color: rgb(240, 118, 18);
  box-shadow: 1px 1px #393939;
  opacity: 0.9;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  font-size: 0.8rem;
}

/* home template  */
.piedepagina{
     display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:row;
  color: #eeeeee;
   font-size: 0.6rem !important;
}
.programador1{
  margin-top: 5%;
 /*  background-color: chartreuse; */
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:column;

}
.programador2{

  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:row;

}
.home_programador{
   display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:row;

}